<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>
    <form [formGroup]="loginForm" class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input  matInput  formControlName="userName" placeholder="Username">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput formControlName="passWord" placeholder="Password">
        </mat-form-field>
        <p class="text-danger" *ngIf="!is_valid_form">Password must be an 8 to 12 string containing UpperCase and LowerCase letters, digits and special characters</p>
      </mat-card-content>
      <p class="text-danger" *ngIf="!isValidUser">Wrong Password, Please verify your information. </p>
      <p class="text-danger" *ngIf="!isValidUser">Or click on Forgot Password Button </p>
      <button mat-stroked-button color="accent" class="btn-block" (click)="OnSubmit()">Log in</button>
    </form>
  </mat-card>
</div>



