<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
  <a class="navbar-brand" style="padding-left: 1rem;" routerLink="/home"><b>Waste sort</b></a>
  <a class="navbar-brand" *ngIf="isConnected" routerLink="scanner">Scan Waste</a>
  <a class="navbar-brand" *ngIf="isConnected" routerLink="profile">Your Profile</a>
  <a class="navbar-brand" *ngIf="isConnected" routerLink="/userstat">Your Stat</a>
  <a class="navbar-brand" style="margin-left:auto" *ngIf="!isConnected" routerLink="/login">Log In</a>
  <a class="navbar-brand" *ngIf="!isConnected" routerLink="/register">Sign In</a>
  <a class="navbar-brand" style="margin-left:auto; text-align: center;color:white"  *ngIf="isConnected"> Welcome {{user.pseudo}} </a>
  <a class="navbar-brand" style="margin-left:auto; color:white" *ngIf="isConnected" (click)="LogOut()">LogOut</a>
  <ul class="navbar-nav"></ul>
</nav>

<router-outlet></router-outlet>

<div class="bg-primary">
  <p>By Maxime Richaudeau, Issa Mohamed Abdoulkarim, Elyes Laiche, Eugene Yaro</p>
  <p>@Copyright 2023</p>
</div>
