<section class="pt-5 padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row justify-content-center mt-5">
                    <div class="tableau-viz-container" style="width: 850px;height: auto; margin:auto">
                        <tableau-viz [id]="VizIndex" [src]="vizUrl" style="margin-left: 5%;"></tableau-viz>
                   </div>
                </div>

                <div class="row justify-content-center mt-5">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-6">
                                <h5 class="text-uppercase letter-spacing mb-4"><b>About us</b></h5>
                                <p>
                                    We are a waste management company in France. We propose a solution that allows waste to be sorted according
                                    to an AI model by separating it into 5 classes: - Plastic , Paper-cardboard , Metal and ice , Organic , Non recyclable.
                                    Our project consists in demonstrating the potential of AI in waste management and in 
                                    sorting systems helping in the recycling of products.
                                </p>

                            </div>
                            <div class="col-lg-6">
                                <h5 class="text-uppercase letter-spacing mb-4"><b>Good to know</b></h5>
                                <p>
                                    It is important to separate waste to protect the environment and 
                                    improve the efficiency of recycling processes. Recyclable materials,
                                     such as paper and metal, can be used again and again if properly sorted,
                                      reducing the need to extract new raw materials. Non-recyclable waste, such as organic waste,
                                       can be composted and used as natural fertiliser. Waste that cannot be recycled or composted
                                        has to be stored in landfills, which can cause environmental problems such as air and water pollution.
                                         AI models are used to sort waste in an automated way. Cameras and sensors are used to detect recyclable materials
                                          and direct them to the correct containers, while AI algorithms can be used to classify waste according 
                                          to its chemical composition. This allows waste to be sorted more efficiently and accurately,
                                     helping to improve recycling rates and protect the environment.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
