<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <a class="navbar-brand" href="#"><b>Waste sort</b></a>
    <a class="navbar-brand" routerLink="/Scan Waste">Scan Waste</a>
    <a class="navbar-brand" routerLink="/Profile">Your Profile</a>
    <a class="navbar-brand px-5" routerLink="/userStat">Your Stat</a>
    <a class="navbar-brand px-5" routerLink="/login">Log In</a>
    <a class="navbar-brand px-5" routerLink="/register">Sign In</a>

     

    <ul class="navbar-nav">
        </ul>
</nav>

<router-outlet></router-outlet>

<style>
    a{
        margin-left:10px
    }

    /* html{
        background-color:black;
    } */
</style>

