.jumbotron{
    border: 2px solid gray;
    border-radius: 1rem;
    background-color: #f8efea;
    width: 30%;
    height: auto;
    margin: auto;
  }

.container .jumbotron{
  width:50%;
  margin-top: 2rem;
}

canvas{
  margin-top:10%;
}
