.jumbotron{
    border: 2px solid gray;
    padding:1rem;
    border-radius: 1rem;
    background-color: #f8efea;
    width: 30%;
    height: auto;
    margin: auto;
  }

.container .jumbotron{
  width:50%;
  margin-top: 2rem;
}

canvas{
  margin-top:10%;
}

.lg-title{
  text-align: center;
}

.FirstDiv{
  margin-top:2rem;
}

.SecondDiv{
  display: flex; width:90%; margin:auto;
}
