<div style="margin-top:2rem;">
  <div style="display: flex; width:90%; margin:auto">
    <div class="jumbotron">
      <p style="text-align:center"><b>Number of scanned garbage per Type</b></p>
      <canvas id="barChart"></canvas>
    </div>

    <div class="jumbotron">
      <p style="text-align:center"><b>Number of scanned garbage per Day</b></p>
      <canvas id="lineChart"></canvas>
    </div>

    <div class="jumbotron">
      <p style="text-align:center"><b>% of scanned garbage per Type</b></p>
      <canvas id="pieChart"></canvas>
    </div>
  </div>
</div>
