<p>user-statistic works!</p>
<div>
  <div style="display: flex; width:90%; margin:auto">
    <div class="jumbotron" style="width: 30%; margin: auto">
      <canvas id="barChart"></canvas>
    </div>

    <div class="jumbotron" style="width: 30%; margin: auto">
      <canvas id="lineChart"></canvas>
    </div>

    <div class="jumbotron" style="width: 30%; margin: auto">
      <canvas id="pieChart"></canvas>
    </div>
  </div>
</div>

<style>
  .jumbotron{
    border: 1px solid black;
  }

</style>
