<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
  <a class="navbar-brand" href="#"><b>Waste sort</b></a>
  <a class="navbar-brand" *ngIf="isConnected" routerLink="/Scan Waste">Scan Waste</a>
  <a class="navbar-brand" *ngIf="isConnected" routerLink="/profile">Your Profile</a>
  <a class="navbar-brand" *ngIf="isConnected" routerLink="/userStat">Your Stat</a>
  <a class="navbar-brand" *ngIf="!isConnected" routerLink="/login">Log In</a>
  <a class="navbar-brand" *ngIf="!isConnected" routerLink="/register">Sign In</a>
  <p  *ngIf="isConnected"> Welcome {{user.pseudo}} </p>
  <button class="btn btn-warning" *ngIf="isConnected" (click)="LogOut()">LogOut</button>
  <ul class="navbar-nav"></ul>
</nav>

<div style="margin-top:2rem;">
  <div style="display: flex; width:90%; margin:auto">
    <div class="jumbotron">
      <p style="text-align:center"><b>Number of scanned garbage per Type</b></p>
      <canvas id="barChart"></canvas>
    </div>

    <div class="jumbotron">
      <p style="text-align:center"><b>Number of scanned garbage per Day</b></p>
      <canvas id="lineChart"></canvas>
    </div>

    <div class="jumbotron">
      <p style="text-align:center"><b>% of scanned garbage per Type</b></p>
      <canvas id="pieChart"></canvas>
    </div>
  </div>
</div>
