<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
  <a class="navbar-brand" href="#"><b>Waste sort</b></a>
  <a class="navbar-brand" *ngIf="isConnected" routerLink="/Scan Waste">Scan Waste</a>
  <a class="navbar-brand" *ngIf="isConnected" routerLink="/Profile">Your Profile</a>
  <a class="navbar-brand" *ngIf="isConnected" routerLink="/userStat">Your Stat</a>
  <a class="navbar-brand" *ngIf="!isConnected" routerLink="/login">Log In</a>
  <a class="navbar-brand" *ngIf="!isConnected" routerLink="/register">Sign In</a>
  <p  *ngIf="isConnected"> Welcome {{user.pseudo}} </p>
  <button class="btn btn-warning" *ngIf="isConnected" (click)="LogOut()">LogOut</button>
  <ul class="navbar-nav"></ul>
</nav>

<div class="jumbotron">
    <p>
        <i>
            Il est important de trier les déchets pour protéger l'environnement et améliorer l'efficacité des processus de recyclage.
            Les matières recyclables, telles que le papier et le métal, peuvent être réutilisées à plusieurs reprises si elles sont correctement
            triées, ce qui réduit la nécessité d'extraire de nouvelles matières premières. Les déchets non recyclables, tels que les déchets
            organiques, peuvent être compostés et utilisés comme engrais naturel. Les déchets qui ne peuvent pas être recyclés ou compostés
            doivent être stockés dans des décharges, ce qui peut causer des problèmes environnementaux tels que la pollution de l'air et
            de l'eau. Les modèles d'IA sont utilisés pour trier les déchets de manière automatisée. Les caméras et les capteurs sont utilisés
            pour détecter les matières recyclables et les diriger vers les bons conteneurs, tandis que les algorithmes d'IA peuvent être
            utilisés pour classer les déchets en fonction de leur composition chimique. Cela permet de trier les déchets de manière plus
            efficace et plus précise, ce qui contribue à améliorer les taux de recyclage et à protéger l'environnement.
        </i>
    </p>
    </div>
<div class="tableau-wrapper">
    <div class="tableau-toolbar">
    </div>
    <div class="tableau-viz-container" style="width: 1000px;height: 1000px; margin:auto">
         <tableau-viz [id]="VizIndex" [src]="vizUrl"></tableau-viz>
    </div>
</div>
